# gdb
.gdb_history
peda*.txt

# IDA
!*.i64
!*.so.i64

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
# *.so
# *.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.pdb

# Kernel Module Compile Results
*.mod*
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
